* {
    text-align: center;
    font-family: Roboto Slab, Source Sans Pro, Helvetica, sans-serif;
}
body {
    background: #f1f1f1;
}
#app {
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    padding: 64px 16px;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

p   {
    font-weight: 300;
    line-height: 1.6;
    color: #131313;
}

a {
    color: #0e86f5;
    font-weight: 400;
}

a:visited {
    color: #0e86f5;
}

.links a {
    margin-left: 1em;
}
.apps {
    max-width: 100%;
    border-radius: 16px;
}